
/* Обрізка занадто довгого тексту */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Bootstrap datepicker СSS */
.datepicker td,th{
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
}
.datepicker td.disabled{
    background-color: #EAF2F8 !important;
}

/* Стилі для сторінки реєстрації */



